body {
    background-color: darkgrey;
    background-size: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    text-align: center;
  }

  .container {
      height: auto;
      width: 100%;
      min-width: 400px;
      max-width: 400px;
      background: radial-gradient(cornflowerblue, #3557ce80);
      font: gold;
  }
  
  h1 {
    font-family: 'Cinzel', serif;
    font-size: 42px;
    color: #ffffff;
    padding: 13px;
  }

   #maingame {
    font-family: 'Cinzel', serif;
    font-size: 42px;
    padding: 13px;
    margin: 10px;
    color: #ffffff;
  }

  input {
      height: 70px;
      width: 42px;
      border: none;
      text-align: center;
      font-size: 66px;
      font-family: 'Cinzel', serif;
  }
  
  h2 {
    font-family: 'Cinzel', serif;
    font-size: 36px;
    padding: 7px;
    color: #ffffff;
  }

  h5 {
    font-family: 'Cinzel', serif;
    font-size: 36px;
    padding: 7px;
    color: #ffffff;
  }

  #startButton {
    font-family: 'Cinzel', serif;
    font-size: 36px;
    padding: 7px;
    margin: 10px;
    color: #ffffff;
  }

  p {
    font-family: 'Cinzel', serif;
    font-size: 36px;
    padding: 7px;
    color: #ffffff;
  }

  .question {
    font-family: 'Cinzel', serif;
    font-size: 36px;
    padding: 7px;
    color: #ffffff;
  }


  button {
    font-family: 'Cinzel', serif;
    background-color: lightslategrey;
    border-radius: 25px;
    text-decoration: none;
    border: darkred 5px;
    font-size: 32px;
    padding: 10px;
    margin: 5px;
    color: #ffffff;
  }

  .btn {
    font-family: 'Cinzel', serif;
    background-color: lightslategrey;
    text-decoration: none;
    font-size: 32px;
    color: #ffffff;
  }

  #flexcont {
    display: flex; /* or inline-flex */
    flex-direction: row;
    justify-content: space-between;
  }
  #ritem {
    flex-shrink: 6;
  }

  #flex-column {
    display: flex; /* or inline-flex */
    flex-direction: column;
    justify-content: space-evenly;
    width: 10%;
    height: auto;
  }

  #flex-row {
    display: flex; /* or inline-flex */
    flex-direction: row;
    justify-content: space-evenly;
    height: 15%;
    width: auto;
  }

  #col-item {
    width: auto;
    height: auto;
  }

  #row-item {
    width: auto;
    height: auto;
  }