body {
    background-image: url("../images/portal-bg.jpg");
    background-size: 100%;
    text-align: center;
  }

  .container {
      height: auto;
      width: 100%;
      background: radial-gradient(#449217, #0aff9980);
      font: gold;
  }

  img {
    max-width: 80px;
    height: auto;
  }
  
  h1 {
    font-family: 'Cinzel', serif;
    font-size: 22px;
    color: #ffffff;
    padding: 13px;
  }

   #maingame {
    font-family: 'Cinzel', serif;
    font-size: 16px;
    color: #ffffff;
  }

  h2 {
    font-family: 'Cinzel', serif;
    font-size: 18px;
    color: #ffffff;
  }

  h5 {
    font-family: 'Cinzel', serif;
    font-size: 18px;
    color: #ffffff;
  }

  #startButton {
    font-family: 'Cinzel', serif;
    font-size: 18px;
    padding: 7px;
    margin: 10px;
    color: #ffffff;
  }

  p {
    font-family: 'Cinzel', serif;
    font-size: 18px;
    padding: 7px;
    color: #ffffff;
  }


  button {
    font-family: 'Cinzel', serif;
    text-decoration: none;
    font-size: 18px;
  }

  .btn {
    font-family: 'Cinzel', serif;
  }

  #flexcont {
    display: flex; /* or inline-flex */
    flex-direction: row;
    justify-content: space-between;
  }
  #ritem {
    flex-shrink: 6;
  }

  #flex-column {
    display: flex; /* or inline-flex */
    flex-direction: column;
    justify-content: center;
    width: 20%;
    height: auto;
  }

  div {
    width: auto;
    height: auto;
  }

  #totalscore {
    max-width: 100px;
  }
  #Wins {
    max-width: 100px;
  }
  #Losses {
    max-width: 100px;
  }
  #GoalNumber {
    max-width: 100px;
  }

  #flex-row {
    display: flex; /* or inline-flex */
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    height: auto;
    width: 100%;
  }

  #col-item {
    width: 100%;
    height: auto;
  }

  #row-item {
    width: 20%;
    height: auto;
  }