body {
    background-image: url("../images/portal-bg.jpg");
    background-size: 100%;
    text-align: center;
  }

  .container {
      height: auto;
      width: 100%;
      background: radial-gradient(#449217b6, #0aff9925, #0aff9900);
      font: gold;
      max-width: 640px;
      text-align: center;
  }

  img {
    max-width: 360px;
    height: auto;
  }
  
  h1 {
    font-family: 'Cinzel', serif;
    font-size: 22px;
    color: #ffffff;
    padding: 13px;
    text-align: center;
  }

  h2 {
    font-family: 'Cinzel', serif;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
  }

  h5 {
    font-family: 'Cinzel', serif;
    font-size: 18px;
    color: #ffffff;
  }

  #startButton {
    font-family: 'Cinzel', serif;
    font-size: 18px;
    padding: 7px;
    margin: 10px;
    color: #ffffff;
  }

  p {
    font-family: 'Cinzel', serif;
    font-size: 18px;
    padding: 7px;
    color: #ffffff;

  }


  button {
    font-family: 'Cinzel', serif;
    text-decoration: none;
    font-size: 18px;
  }

  .btn {
    font-family: 'Cinzel', serif;
  }

  #totalscore {
    font-family: 'Cinzel', serif;
    font-size: 18px;
    padding: 7px;
    color: #ffffff;
  }
  #Wins {
    font-family: 'Cinzel', serif;
    font-size: 18px;
    padding: 7px;
    color: #ffffff;
  }
  #Losses {
    font-family: 'Cinzel', serif;
    font-size: 18px;
    padding: 7px;
    color: #ffffff;

  }
  #GoalNumber {

    font-family: 'Cinzel', serif;
    font-size: 18px;
    padding: 7px;
    color: #ffffff;
  }

  .seed {
    max-width: 240px;
    font-family: 'Cinzel', serif;
  }

  .flex-row {
    display: flex; /* or inline-flex */
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    height: auto;
    width: 100%;
    align-content: center;
  }
  
  .row-item {
    max-width: 260px;
    width: 25%;
    height: auto;
  }

  .o-flex-row {
    display: flex; /* or inline-flex */
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    height: auto;
    width: 100%;
  }
  
  .o-row-item {
    max-width: 80px;
    width: 24%;
    height: auto;
  }

  .flex-column {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    width: 20%;
    height: auto;
  }

  .col-item {
    width: 120px;
    height: auto;
    font-family: 'Cinzel', serif;
    font-size: 18px;
    padding: 7px;
    color: #ffffff;
  }


  #flexcont {
    display: flex; 
    flex-direction: row;
    justify-content: center;
  }
  .ritem {
    flex-shrink: 6;
    background: #449217;
    height: fit-content;
    
  }